.container {
    border: 1px solid;
    display: flex;
}

.item {
    border: 1px solid;
    background-color: rgb(6, 179, 202);
    /* default: 0, generally is assigned a bigger number to the item/s who will use more blank space.
    flex-grow: 1;
    we use this in different items, one is the default value, zero on all the values generates overflow. The bigger the values is the shrinker the element gets
    flex-shrink: 1;
    default value: auto, we can put sizes for spacing the elements
    flex-basis: 25%;
    we can simplify all of this with flex */
    flex: 0 1 auto;
}